---
Language:        Cpp
BasedOnStyle:    LLVM
BreakBeforeBraces: Linux
#IndentWidth:     4
#ContinuationIndentWidth: 8
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: false
...
